SECRET_KEY=change-me-to-a-random-secret-key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=postgres
DB_USER=postgres.your-project-ref
DB_PASS=your-db-password
DB_HOST=aws-0-eu-central-1.pooler.supabase.com
DB_PORT=5432
